    <!doctype html>
    <html ng-app='controllerTest'>
    <head>
    <script src="lib/angular/angular.js"></script>
    <title>Angular JS Controller function usage</title>
    
    <script src="app/app1.js"></script>
    </head>
    <body>
     <h1>Angular JS Controller Function/</h1>
     
     
<!-- Utilize the controller object functions whicvh are not the scope functions -->
<div id="ctrl-div" ng-controller="TestController1 as ctrl"><!-- The controller object instance -->
  Name: <input type="text" ng-model="ctrl.name"/>
  [ <a href="" ng-click="ctrl.greet()">greet</a> ]<br/>
  Contact:
  <ul>
    <li ng-repeat="contact in ctrl.contacts">
      <select ng-model="contact.type">
         <option>phone</option>
         <option>email</option>
      </select>
      <input type="text" ng-model="contact.value"/>
      [ <a href="" ng-click="ctrl.clearContact(contact)">clear</a>
      | <a href="" ng-click="ctrl.removeContact(contact)">X</a> ]
    </li>
    <li>[ <a href="" ng-click="ctrl.addContact()">add</a> ]</li>
 </ul>
</div>

     
    </body>
    </html>