    <!doctype html>
    <html ng-app='textEditor'>
    <head>
    <script src="lib/angular/angular.js"></script>
    <title>Angular JS Controller function usage</title>
    
    <script src="app/app2.js"></script>
    </head>
    <body>
     <h1>Angular JS Controller Function</h1>
     
     
 <div ng-controller="EditionCtrl">
 
 <input type="text" ng-model="document.text"/>
 
 <a href="" ng-click="saveDocument()">Save</a>
 
 <p id="stateData">The Document State</p>
 </div>
 
   
     
    </body>
    </html>